* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding:1%,1%,1%,1%;
    height:100%;
    background-color: #9fcabd;

}

#content{
    background-color: #9fcabd;
    height:100%;
}

#content-profil{
    background-color: #9fcabd;
    height:100%;
    display:flex;
}


/* ---menu déroulant---*/

.navigationList{
    width: 100%;
    display: flex;
    flex-direction:  row;
    height: 120px;
    background-color: #242424;
    justify-content: center;
    align-items: center;
}

ul li{
    width: 100%;
    text-align: center;
    justify-content: center;
    list-style-type: none;
}
.navigationList li a{
    color: #94fadb;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
ul.sousMenu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms;
    text-transform: capitalize;
}

li.menuDeroulant:hover > .sousMenu {
    max-height: 100px;
}

.navigationList li a:hover{
    color: #00adb9;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1%;
}


#welcome{
    color:#00adb9;
    background-color: black;
}
/*---formulaire de connexion---*/


#compte_form {
    margin: auto;
    padding:5%;
    min-height: calc(100vh - 235px);
    display:flex;
    justify-content: center;
    background-image: url(../images/contact-map.jpg);
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #4E483E;
    border-radius: 5px;
}

#bloc-form{
    width:30%;
    margin:2%;

}

#bloc-text{
    width:70%;
    margin:2%;
}

#profil-form{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #4E483E;
    border-radius: 5px;
}

form h3{
    font-size: 1.4em;
    color: #94fadb;
    margin-bottom:20px;
}

label{
    font-size: 1em;
    margin-bottom: 5px;
}

input, select{
    margin-bottom: 25px;
    height:2em;
    font-size: 1.2em;
}

.submit{
    border-radius: 10px;
    color:#4E483E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    background-color:#94fadb;
}

.submit:hover{
    background-color:#00adb9;
}


/* ---footer-------*/

  footer ul li a{
    width: 100%;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    color:white;
}
  
  footer ul {
    display: flex;
    background-color: #302f2f;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    max-height: 100%;
  }
  
  table {
    width:95%;
    align-items:center;
    margin: 2%1%1%1%;
    background-color: #688081;
  }

  thead{
    background-color: #334849;
  }

  td {
    text-align: center;
    padding:2px;
  }

 .logo{
    width:30%;
 }